<h1>Reset Password</h1>

<%= form_tag password_resets_path do %>
  <label>Email:</label><br />
  <%= text_field_tag "email" %><br />
  <br />
  <%= submit_tag "Reset my password" %>
<% end %>

<%= link_to 'Back', root_path %>
